<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBH_DIEN_TU.Properties.Settings.QLBANHANGDTConnectionString"
            connectionString="Data Source=DESKTOP-5LO1MII\SQLEXPRESS;Initial Catalog=QLBANHANGDT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLBH_DIEN_TU.Properties.Settings.QLBANHANGDTConnectionString1"
            connectionString="Data Source=DALAC;Initial Catalog=QLBANHANGDT;User ID=sa;Password=Tandattv123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>